{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
    {% include('post/_form.html.twig') %}
    <a href="{{ path('posts.list') }}">Back to List</a>
{% endblock %}
